@import "../base/_shared.scss";

.container {
  height: 100vh;
  display: grid;

  header {
    grid-area: header;
  }

  section {
    grid-area: board;
    grid-column: 2/3;
    display: flex;
    width: 50vw;
    height: 72vh;
    overflow: hidden;
    justify-content: flex-end;
  }

  .aside {
    grid-area: aside;
    width: 20vw;
  }

  /*  .num-pad-section {
    grid-area: numpad;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  footer {
    grid-area: footer;
  }

  grid-template-areas:
    "header header header header"
    ". board aside ."
    "footer footer footer footer";
}
