@import "../base/_shared.scss";

.container {
  height: 100vh;
  display: grid;


  header {
    grid-area: header;
  }

  section {
    grid-area: board;
    grid-column: 2/3;
    display: flex;

    align-items: center;
  }

  .side-bar {
    grid-area: sidebar;
    width: 50%;
  }

 /*  .num-pad-section {
    grid-area: numpad;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  footer {
    grid-area: footer
  }

  grid-template-areas: "header header header header"
  ". board sidebar ."
  "footer footer footer footer";
}