@import "../base/_shared.scss";

.board {
  height: 63vh;
  width: 63vh;

  tr {
    height: 11.111%;

  }

  td {
    width: 11.1%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.125);

    &.editable {
      cursor: pointer;
    }

    &.non-editable {
      cursor: default;
    }

    &.highlight-alt-block {
      background-color: $color-board-sharp;
    }

    &.highlight-peers {
      background-color: $highlight-peers;
    }

    &.highlight-clicked {
      background-color: $highlight-clicked;
    }


    &.highlight-same-squares {
      background-color: $highlight-same-squares;
    }

    &.highlight-duplicates {
      background-color: $highlight-duplicate;
    }


    @include input-font-colors;

    &.highlight-wrong-input {
      color: $color-wrong-input
    }
  }
}